@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  margin: 0;
  padding: 0;
  border: 0;
  --bar-bg-color: #3f51b5;
  --app-bg-color: #303030;
  user-select: none;
}

body {
  background-color: var(--app-bg-color);
}

.App {
  color: white;
}

.App .header {
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  background-color: var(--bar-bg-color);
  height: 50px;
  width: 100%;
}

.App .header input {
  user-select: text;
  margin: 0 5% 0 5%;
  size: 5em;
  width: 90%;
  height: 50px;
  outline: none;
  background-color: inherit;
  font-size: 2rem;
  color: white;
}

.App .container {
  margin: 50px 0;
  padding: 10px 0 11px 0;
  background-color: var(--app-bg-color);
  min-height: calc(100vh - 50px);
  position: static;
  text-align: center;
  justify-content: center;
}

.App .container .musicCard {
  width: 80%;
  margin: 10px 10%;
  height: 80px;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: rgba(255, 255, 255, 0);
  transition: background-color .3s;
}

.App .container .musicCard:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color .3s;
  cursor: pointer;
  cursor: hand;
}

.App .container .musicCard * {
  float: left;
}

.App .container .musicCard .right {
  float: none;
  display: flex;
  flex-direction: column;
}

.App .container .musicCard .right .text {
  margin-right: auto;
}

.App .container .musicCard .right .typeSelector .songTypeButton {
  font-size: small;
  border: white 2px solid;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.App .container .musicCard .right .typeSelector .songTypeButton.se {
  background-color: #32ab9d;
}

.App .container .musicCard .right .typeSelector .songTypeButton.vs {
  background-color: #ad537f;
}

.App .container .musicCard .right .typeSelector .songTypeButton.an {
  background-color: #3f51b5;
}

.App .container .musicCard img {
  height: 80px;
  width: 80px;
  margin: 0 10px 0 10px;
  background-color: gray;
}

.App .footer {
  background-color: var(--bar-bg-color);
  z-index: 1;
  position: fixed;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.App .footer img {
  height: 50px;
  width: 50px;
  background-color: gray;
  /* background-image: url(https://icooon-mono.com/i/icon_11184/icon_111840.svg); */
  margin-right: 10px;
}

.App .footer .controlButtonContainer {
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  transition: opacity .3s;
}

.App .footer .controlButtonContainer:hover {
  opacity: 1;
  transition: opacity .3s;
}

.App .footer .controlButtonContainer .material-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: inherit;
  font-size: 35px;
  height: 50px;
  opacity: 0;
  transition: opacity .3s;
}

.App .footer .controlButtonContainer .material-icons:hover {
  opacity: 1;
  transition: opacity .3s;
}

.App .footer .durationText {
  margin: 0 30px 0 auto;
}

:root {
  --progress: 30%;
  --progress-point: 6px;
}

.App .progressBar {
  z-index: 1;
  bottom: 50px;
  left: 0;
  background-color: red;
  position: fixed;
  width: var(--progress);
  height: 5px;
  transition: height .1s;
  cursor: pointer;
  cursor: hand;
}

.App .pre_progressBar {
  z-index: 1;
  bottom: 50px;
  right: 0;
  position: fixed;
  height: 5px;
  cursor: pointer;
  cursor: hand;
  background-color:rgba(255, 255, 255, 0.2);
}

.App .progressPoint {
  cursor: pointer;
  cursor: hand;
  z-index: 1;
  bottom: calc(50px - var(--progress-point) / 2);
  left: calc(var(--progress) - calc(var(--progress-point) / 2));
  background-color: red;
  position: fixed;
  width: 0px;
  height: 0px;
  border: solid var(--progress-point) red;
  border-radius: var(--progress-point);
  transition: border .1s,
  border-radius .1s,
  bottom .1s;
}
